/* intuitivnější box-sizing pro všechny prvky na stránce */
html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #8B8B8B;
    font-size: 16px;
    font-weight: light;
}

h1{
    color: black;
    font-size: 28px;
    font-weight: medium;
}

h2{
    color: black;
}


/* text na tlaciku plaz a dobrodruzstvi */
a{ 
    font-size: 14px;
    color: white;
    font-weight: medium;
    text-decoration: none;
}

.tlacitko{
    font-size: 13px;
}

.line{
    border-top: 2px solid #407BFF; 
    width: 60px;
    margin-top: 10px; 
    margin-bottom: 30px; 
    align-content: center;
  }

.dobrodruzstvi { 
    background-color: #407BFF;
    display: block;
    /* flex-wrap: wrap; */
    text-align: center;
    border-radius: 20px;
    padding: 10px;
}

.plaz { 
    background-color: #8B8B8B;
    display: block;
    text-align: center;
    border-radius: 20px;
    margin:0;
    padding: 10px;
}

.kontejner{
    display: flex;
    flex-wrap: wrap;
  }

.box1{
    
}